<p>{{name}}</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th ng-repeat="i in header">
                {{i}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in data">
            <td ng-repeat="cell in row track by $index">
                <span ng-show="cell">
                    {{($index == 0) ? cell : (cell|percentize)}}
                </span>
                <span ng-show="!cell"></span>
            </td>
        </tr>
    </tbody>
</table>