<ul class="metric-card-list">
    <li class="metric-card" ng-repeat="i in metricList | filter:{type: 'one'} "
        ng-click="toggleSelect(i)" ng-class="{'selected': i.selected}">
        <i class="icon-users"></i>
        <div class="number">
            {{i.data[0]|number}}
            <i class="fa trend" ng-class="{'fa-level-up': (+i.data[1] > 0), 'fa-level-down':(+i.data[1]) < 0}"></i>
        </div>
        <div>
            <div class="title">{{i.metricname}}</div>
            <div class="contrast">
                <p> 环比：<span>{{i.data[1]|percentize}}</span></p>
                <p ng-if="i.data[2]"> 同比：<span>{{i.data[2]|percentize}}</span></p>
            </div>
        </div>
    </li>
</ul>