<!-- start: Content -->
<div class="main" style="padding: 80px;background: #fff;" ng-controller="verticalTableCtrl">

    <!-- chart + metric card -->
    <div class="row">
        <p>Tip: 点击各个 vertical 的 NDLU 数值,DLU 图表，查看详情~</p>
        <table class="table table-bordered vertical-metrics-table"
            style="min-height: 434px;">
            <thead>
                <tr>
                    <th ng-repeat="i in names track by $index">
                        <span>{{i}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data track by $index">
                    <td ng-repeat="cell in row track by $index" ng-switch on="getCellType($index)">
                        <span ng-switch-when="line" ng-click="openPopup(row)" sparkline data="getLineData(row)" style="cursor: pointer"></span>
                        <span ng-switch-when="ratio">{{cell|percentize}}</span>
                        <span ng-switch-when="ndlu" ng-click="renderFlowPathChart(row)"
                            style="cursor: pointer">
                            <a ng-if="row[0]!='WDJ'">{{cell}}</a>
                            <b ng-if="row[0]=='WDJ'" style="font-weight: normal">{{cell}}</b>
                        </span>
                        <span ng-switch-when="origin">{{cell|number}}</span>
                        <span ng-switch-default>{{cell}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!--/row-->

    <div class="row flow-path-wrapper" ng-show="ndluTableData.data.length">
        <!-- replace with datav and d3 chord diy -->
        <div id="flow-path-chart" style="width: 800px;height: 600px"></div>
        <div class="flow-path-table">
            <table class="table table-bordered">
                <tr ng-repeat="i in ndluTableData.data track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{ndluTableData.names[$index]}}</td>
                    <td>{{i}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>