<!-- start: Content -->
<div class="main" style="padding: 80px;background: #fff;">

    <!-- chart + metric card -->
    <div class="row" ng-controller="verticalTableCtrl">
        <table class="table table-bordered vertical-metrics-table"
            style="min-height: 434px;">
            <thead>
                <tr>
                    <th ng-repeat="i in names track by $index">
                        {{i}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data track by $index"
                    ng-click="openPopup(row)">
                    <td ng-repeat="cell in row track by $index" ng-switch on="types[$index]">
                        <span ng-switch-when="line" sparkline data="getLineData(row)"></span>
                        <span ng-switch-when="ratio">{{cell}}</span>
                        <span ng-switch-when="origin">{{cell|number}}</span>
                        <span ng-switch-default>{{cell}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!--/row-->

    <div class="row" style="text-align:center">
        <!-- replace with datav and d3 chord diy -->
        <img src="images/fake-NDLU.png" width="750">
    </div>
</div>