<!-- start: Content -->
<div class="main" style="padding: 80px;">
    <!-- metric card -->
    <ul class="statistics">
        <li>
            <i class="icon-users"></i>
            <div class="number">87.500</div>
            <div class="title">Visitors</div>
            <div class="progress thin">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                    <span class="sr-only">73% Complete (success)</span>
                </div>
            </div>
        </li>
        <li>
            <i class="icon-user-follow"></i>
            <div class="number">385</div>
            <div class="title">New clients</div>
            <div class="progress thin">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                    <span class="sr-only">73% Complete (success)</span>
                </div>
            </div>
        </li>
        <li>
            <i class="icon-basket-loaded"></i>
            <div class="number">1238</div>
            <div class="title">Products sold</div>
            <div class="progress thin">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                    <span class="sr-only">73% Complete (success)</span>
                </div>
            </div>
        </li>
        <li>
            <i class="icon-pie-chart"></i>
            <div class="number">28%</div>
            <div class="title">Returning Visitors</div>
            <div class="progress thin">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                    <span class="sr-only">73% Complete (success)</span>
                </div>
            </div>
        </li>
        <li>
            <i class="icon-speedometer"></i>
            <div class="number">5:34:11</div>
            <div class="title">Avg. time</div>
            <div class="progress thin">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                    <span class="sr-only">73% Complete (success)</span>
                </div>
            </div>
        </li>
        <li>
            <i class="icon-speech"></i>
            <div class="number">972</div>
            <div class="title">New comments</div>
            <div class="progress thin">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                    <span class="sr-only">73% Complete (success)</span>
                </div>
            </div>
        </li>
    </ul>

    <!-- chart + metric card -->
    <div class="row">

        <div class="col-lg-9">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <i class="icon-bar-chart"></i><h2>Traffic &amp; Revenue</h2>
                    <div id="daterange" class="selectbox pull-right hidden-xs">
                        <i class="icon-calendar"></i>
                        <span>July 4, 2014 - August 2, 2014</span> <b class="caret"></b>
                    </div>
                </div>

                <div class="panel-body">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="index.html#months" role="tab" data-toggle="tab">Monthly</a></li>
                        <li class="hidden-xs"><a href="index.html#" role="tab" data-toggle="tab">Weekly</a></li>
                        <li class="hidden-xs"><a href="index.html#" role="tab" data-toggle="tab">Daily</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="months">
                            <div id="main-chart" style="height:390px"></div>
                        </div>
                        <div class="tab-pane" id="weeks">...</div>
                        <div class="tab-pane" id="days">...</div>
                    </div>

                </div>

                <div class="panel-footer">
                    <ul class="panel-footer-stats">
                        <li>
                            <canvas id="gauge-success" height=50 width=70></canvas>
                            <span class="number">148.125</span>
                            <span class="title">New users</span>
                        </li>
                        <li>
                            <canvas id="gauge-info" height=50 width=70></canvas>
                            <span class="number">452.352</span>
                            <span class="title">Pageviews</span>
                        </li>
                        <li>
                            <canvas id="gauge-warning" height=50 width=70></canvas>
                            <span class="number">2,19</span>
                            <span class="title">Pages / Visit</span>
                        </li>
                        <li>
                            <canvas id="gauge-danger" height=50 width=70></canvas>
                            <span class="number">59,83%</span>
                            <span class="title">Bounce Rate</span>
                        </li>
                        <li>
                            <canvas id="gauge-primary" height=50 width=70></canvas>
                            <span class="number">70,79%</span>
                            <span class="title">New Visits</span>
                        </li>
                    </ul>
                </div>

            </div>

        </div><!--/col-->

        <div class="col-lg-3 col-sm-6">

            <div class="panel panel-default">

                <div class="panel-body text-center" style="height:233px">
                    <h2>Revenue</h2>
                    <div style="width:300px;left:50%;position:absolute;margin-left:-150px;">
                        <canvas id="gauge1"></canvas>
                    </div>
                </div>
                <div class="panel-footer">
                    <strong>$11.234,00</strong>
                    <span class="pull-right"><i class="fa fa-arrow-circle-o-up text-success"></i> 15%</span>
                </div>

            </div>

        </div><!--/col-->

        <div class="col-lg-3 col-sm-6">

            <div class="panel panel-default">

                <div class="panel-body text-center" style="height:232px">
                    <h2>Profit</h2>
                    <div style="width:300px;left:50%;position:absolute;margin-left:-150px;">
                        <canvas id="gauge2"></canvas>
                    </div>
                </div>
                <div class="panel-footer">
                    <strong>$3.733,00</strong>
                    <span class="pull-right"><i class="fa fa-arrow-circle-o-down text-danger"></i> 53%</span>
                </div>

            </div>

        </div><!--/.col-->
    </div><!--/row-->

    <div class="row">
        <div class="col-lg-6">
            <div ng-include="'templates/corp/new-user-retention-table.html'"></div>
        </div>
        <div class="col-lg-6">
            <div ng-include="'templates/corp/new-user-retention-table.html'"></div>
        </div>
    </div>
</div>